nav.list-pages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav.list-pages ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav.list-pages li {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
}

nav.list-pages li.active a {
    background-color: #007bff;
    color: #fff;
}

nav.list-pages li a {
    color: #007bff;
    text-decoration: none;
}

nav.list-pages li a:hover {
    text-decoration: underline;
}

.product-card{
    margin: 10px;
}

.donut_picture{
    display: flex;
    justify-content: center;
}

.donut_picture{
    height: 10em;
    width: 10em;
    margin: 1em;
}
.massages{

}

.error{
    display: flex;
    justify-content: center;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination li {
  display: inline-block;
  margin: 0 0.25rem;
}

.pagination li.active a {
  background-color: #007bff;
  border-color: #007bff;
}

.pagination li a {
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  cursor: pointer;
}



