{% extends 'donut/base.html' %}
{% block content %}
     <h1>Shopping Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <td>{{ item.donut.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.total_price }}</td>
                    <td>
                        <form action="{% url 'donut:remove_from_cart' item.donut.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="method" value="DELETE">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <form action="{% url 'donut:cart' %}" method="post">
                {% csrf_token %}
                <h2>I want to buy my donuts!</h2>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key = "{{ key }}"
                    data-description = "Payment Gateway"
                    data-amount = {{ Order.total_price }}
                    data-local="auto"
                >
                </script>
            </form>
            <tr>
                <td colspan="3">Total</td>
                <td>{{ cart.get_total_price }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}