{% extends 'donut/base.html' %}
{% block content %}
{% load static %}
     <h1>Shopping Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <td>{{ item.donut.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.total_price }}</td>
                    <td>
                        <form action="{% url 'donut:remove_from_cart' item.donut.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="method" value="DELETE">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <button class="open-popup">I want to by!</button>

            <div class="popup-bg">
                <div class="popup">
                    <form method="post" action="{% url 'order:create_order' %}?next={% url 'donut:donut_list' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Place Order</button>
                    </form>
                    <form id="stripe-form" action="{% url 'donut:cart' %}?next={% url 'donut:donut_list' %}" method="post">
                        {% csrf_token %}
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ key }}"
                            data-description="Payment Gateway"
                            data-amount="{{ total_price }}"
                            data-local="auto"
                        >
                        </script>
                    </form>
                    <button class="close-popup">Close</button>
                </div>
            </div>


            {% block javascript %}
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="{% static 'js/script.js' %}"></script>
            {% endblock %}
            <tr>
                <td colspan="3">Total</td>
                <td>{{ cart.get_total_price }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}