{% extends 'donut/base.html' %}
{% block content %}
    <div class="product-card-detail">
        <div>
            <img class="donut_picture" src="{{ donut.picture.url }}" />
        </div>
        <h3>{{ donut.title }}</h3>
        <p>{{ donut.description }}</p>
        <div>
            <p>{{ donut.price }}</p>
            <p>{{ donut.count }}</p>
        </div>
        {% if donut.labels %}
            <div>
                {{ donut.labels }}
            </div>
        {% endif %}
        <form action="{% url 'donut:add_to_cart' donut.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="donut_id" value="{{ d.id }}">
          <button type="submit">Add to cart</button>
        </form>
    </div>

{% endblock %}
