{% extends 'donut/base.html' %}
{% block content %}
{% for d in donut %}
    <div class="product-card">
        <div>
            <img class="donut_picture" src="{{ d.picture.url }}" />
        </div>
        <h3><a href="{% url 'donut:donut_detail' pk=d.pk %}">{{ d.title }}</a></h3>
        <p>{{ d.description }}</p>
        <div>
            <p>{{ d.price }}</p>
            <p>{{ d.count }}</p>
        </div>
        {% if d.labels %}
            <div>
                {{ d.labels }}
            </div>
        {% endif %}
        <button type="submit">Add to my cart</button>
    </div>


{% endfor %}
{% endblock %}
