{% extends 'donut/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="donut:home" class="close">✖</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for d in donut %}
            <div class="col-md-4">
                <div class="product-card">
                    <div class="donut_picture">
                        <img class="donut_picture" src="{{ d.picture.url }}" />
                    </div>
                    <h3 class="product-card in"><a href="{% url 'donut:donut_detail' pk=d.pk %}">{{ d.title }}</a></h3>
                    <p class="product-card in">{{ d.description }}</p>
                    <div class="product-card num">
                        <p>{{ d.price }}</p>
                        <p class="donut-count">{{ d.count }}</p>
                    </div>
                    {% if d.labels %}
                        <div>
                            {{ d.labels }}
                        </div>
                    {% endif %}
                    <form action="{% url 'donut:add_to_cart' d.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="donut_id" value="{{ d.id }}">
                        <button type="submit">Add to cart</button>
                    </form>
                </div>
            {% block javascript %}
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="{% static 'js/script.js' %}"></script>
            {% endblock %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
